node_modules/
dist/

.env.local
.env.*.local
.envrc

.DS_Store

go.work.sum
/web-server/build/
/infrastructure/modules/web-server/.placeholder.zip

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
